
DATABASE_URL=mysql+pymysql://root:matkhau_cua_ban@localhost:3306/bon_chan_ve_nha

JWT_SECRET_KEY=doi-chuoi-nay-thanh-mot-chuoi-ngau-nhien-that-dai-va-kho-doan
JWT_ALGORITHM=HS256
JWT_HET_HAN_PHUT=1440


CORS_ORIGINS=http://localhost:5173
